# Real Estate Data - Cleaning, Encoding $(unfinished)$


**Might attempt to use encode/OneHot first, and then IterativeImputer for all missing values**
- impute and then "unimpute" for IterativeImputer

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std

In [2]:
realEstate = pd.read_csv('Ames Real Estate Data.csv')
re_table = pd.read_csv('RealEstate_Table.csv')

C:\Users\hzeig\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (36,40,81,87) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
realEstate.shape

(22213, 91)

In [6]:
# function to look up definitions of realEstate features
def table(feature):
    return re_table.loc[re_table['Field Name'] == feature]

In [7]:
table('Rcrd_Mo')

,Field Number,Field Name,Field Start Position,Field Length,Data Type,Description,Notes
24,25,Rcrd_Mo,625,3,Byte,Month of Last Recorded Deed,First space blank

In [4]:
# function for viewing columns with missing values
def nas(df):
    return df.loc[:, df.isna().sum() > 0 ].isna().sum().sort_values(ascending = False)

In [5]:
nas(realEstate)

MA_Line2     22213
PA-PostD     22213
X2TPr_D      22212
X2TSc_S      22212
X2TPr_S      22212
             ...
Prop_Addr       20
MA_Zip1         14
MA_State        14
MA_City         14
MA_Line1        14
Length: 65, dtype: int64

In [85]:
re_num = realEstate.select_dtypes(include=[np.number])
re_cat = realEstate.select_dtypes(exclude=[np.number])

In [86]:
 # DATE - dropping
from datetime import date
                                                              # after seeing that date columns have too many
date_df = realEstate.filter(regex='Yr|Mo|Date')               # missing values and are complicated to combine, 
date_df.loc[~date_df['YrSold_YYYY'].isna()]                   # decided to drop and use date from HP
# date_comp = date_df.loc[date_df['Rcrd_Yr'] != date_df['Inst1_Yr']]
# date_comp.loc[~date_df['Rcrd_Yr'].isna()]
# date_df.loc[date_df['Date'] != '10-Jul-20']

date_df.columns
realEstate = realEstate.drop(date_df.columns, axis=1)
# realEstate['day'] = 1
# pd.to_datetime(realEstate[['Rcrd_Yr', 'Rcrd_Mo', 'day']].stack()).unstack
# pd.to_datetime(dte.stack()).unstack()
              
# pd.to_datetime(assign(year, month = realEstate[['Rcrd_Yr','Rcrd_Mo']]).assign(DAY=1))

In [87]:
##  examining and dropping unnecessary features

table('Inst1_Mo')

,Field Number,Field Name,Field Start Position,Field Length,Data Type,Description,Notes
27,28,Inst1_Mo,644,3,Byte,Month of Last Instrument,First space blank

In [88]:
re_num.isna().sum().sort_values(ascending=False)

PA-PostD        22213
MA_Line2        22213
X2TPr_S         22212
X2TPr_D         22212
SalePrice       19247
MoSold_MM       19247
YrSold_YYYY     19247
MilVal_D        13024
HSTtl_D         13024
MilVal_S        12966
HSTtl_S         12966
MA_Zip2          8890
GarYrBlt         4308
Fireplaces       4308
TotRmsAbvGrd     4308
TtlBsmtSF        4308
GLA              4308
YrBuilt          4308
Cars             4308
LotArea          4308
GarageArea       4308
PoolArea         4308
NmbrBRs          4308
Rcrd_Yr          1907
Rcrd_Mo          1907
Inst1_Yr         1907
Inst1_Mo         1907
MA_Zip1            14
GeoRefNo            0
LndAc_S             0
Tier                0
Range               0
SchD_S              0
TxD_S               0
ImpAc_S             0
ImpAcX2S            0
OthAc_S             0
TtlVal_AsrYr        0
DwlgNo_S            0
BldgNo_S            0
LndAcX1S            0
AcreNt_S            0
AcreGr              0
AcreX_S1            0
ImpAcX1S            0
MapRefNo            0
dtype: int64

In [89]:
re_cat.isna().sum().sort_values(ascending=False)

X2TSc_S         22212
X2TSc_D         22212
ZngCdSc         22187
ZngOLSc         22060
X1TSc_S         21522
X1TPr_S         21522
X1TPr_D         21519
X1TSc_D         21519
PA-PreD         20437
ZngOLPr         20243
MA_Ownr2        19337
SaleCond        19247
SaleType        19247
PA-UnTyp        14468
PA-UntNo        14096
Foundation       4308
Ext2             4308
RoofMatl         4308
Ext1             4308
BldgType         4308
MasVnrType       4308
Heating          4308
HouseStyle       4308
Neighborhood     4308
ParType          4308
GarageType       4308
Central Air      4308
Inst1TPr         2677
Inst1_No         1857
ZngCdPr           106
PA-StSfx           98
PA-Nmbr            20
PA-Strt            20
Prop_Addr          20
MA_State           14
MA_City            14
MA_Line1           14
ValType             0
ParclRel            0
MA_Ownr1            0
Legal_Pr            0
ClassSc_S           0
ClassPr_S           0
Date                0
Source              0
dtype: int64